    @media only screen and (max-width: 749px) {
        /* HOME PAGE RESPONSIVE WEBSITE  */
        .video-content h1 {
            font-size: 68px;
        }
        .specfication-banner .title h1 {
            font-size: 44px;
        }
        .cards:nth-child(2) {
            margin-top: 0px;
        }
        .cards:nth-child(5) {
            margin-top: 0px;
        }
        .cards {
            margin: 30px 0;
        }
        .cards img,
        .intro-cards img {
            width: 290px;
        }
        #brandsupport img {
            width: 300px;
        }
        .footer-title h1 {
            font-size: 34px;
        }
        .footer-main-content {
            padding: 5px;
        }
        .footer-content input {
            width: 240px;
        }
        .main-content ul li {
            padding: 23px;
        }
        .footer-main .ft-logo-right {
            display: none;
        }
        .footer-main-content ul li {
            padding: 15px 5px;
        }
        .footer-main-content ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer-main-content ul li a {
            font-size: 14px;
        }
        .footer-main-content span {
            padding-top: 1px;
        }
        .footer-content button {
            height: 53px;
            width: 60px;
        }
        /* NITEPAGE RESPONSIVE WEBSITE */
        .content-box {
            flex-direction: column;
            width: 100%;
            margin-top: -10px;
            top: 0;
            height: 800px;
            transform: translate(-50%, -0%);
        }
        .content-box img {
            height: 350px;
            width: 220px;
        }
        #chapmign-about .container-fluid {
            min-height: 140vh;
        }
        #banner-image img {
            width: 100%;
            height: 250px;
            overflow: hidden;
        }
        .row {
            padding: 10px;
        }
        .potential p {
            font-size: 14px;
        }
        #philosophy {
            min-height: 70vh;
        }
        #philosophy .main-content {
            margin-left: 0px;
        }
        #philosophy .main-title h1 {
            font-size: 44px;
            transform: rotate(0deg);
        }
        #philosophy .main-title h1::after {
            display: none;
        }
        #nite-home .video-content h1 {
            font-size: 60px;
        }
        #nite-home .video-content span {
            font-size: 60px;
        }
        /* Introducation Page Responsive */
        .intro-content p {
            padding: 10px;
        }
        #introducation .ft-logo-left,
        #introducation .ft-logo-right,
        #shows-introducation .ft-logo-left,
        #shows-introducation .ft-logo-right {
            display: none;
        }
        .intro-feature .cards img {
            height: 350px;
            width: 260px;
            margin: 5px 0;
        }
        #intro-achiv .feature-counts ul,
        .main-feature-counts ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .intro-feature .cards {
            padding: 20px;
        }
        /* SHOWS SECTION STARTS */
        #shows-introducation .intro-content {
            padding: 20px;
        }
        #shows-introducation .intro-content p {
            padding: 0;
        }
        #shows-introducation .intro-title h3 {
            font-size: 24px;
        }
        /* Michel & Kashiff Page Responsive */
        .intro-title h1,
        #kashiffintro .intro-container .kashiff-intro-content h1,
        #kashiff-background .bg-content h1,
        #kashiff-journey .journey-content h1 {
            font-size: 46px;
        }
        #michelintro .intro-container,
        #kashiffintro .intro-container {
            flex-direction: column-reverse;
            padding: 20px;
        }
        #michelintro .intro-container .michtel-intro-card img,
        #kashiffintro .intro-container .michtel-intro-card img {
            width: 350px;
        }
        #michel-background .bg-content,
        #michel-future .future-bg-content,
        #kashiff-background .bg-content {
            padding: 20px;
        }
        .michel-cards {
            width: 100%;
        }
        .kashiff-feature {
            grid-template-columns: 1fr;
        }
        /* Journay Responsive */
        .timeline::before {
            left: initial;
            left: 9px;
            transform: none;
        }
        .timecontent {
            width: calc(100% - 35px);
            min-height: 4em;
        }
        [data-time]::before {
            left: initial;
            left: 9px;
        }
        .timerow.left .timecontent,
        .timerow.right .timecontent {
            float: right;
        }
        .left .timearrow,
        .right .timearrow {
            border-right-width: 0;
            border-left: 20px solid #110802;
            left: 20px;
        }
        /* Main Page CSS */
        #home-chapmign-about .container-fluid {
            min-height: 125vh;
        }
        #home-chapmign-about .content-box .content-img img {
            height: 380px;
            width: 360px;
            padding: 0;
        }
        #home-chapmign-about .ft-logo-left {
            display: none;
        }
        #home-chapmign-about .content-box {
            height: 100%;
            width: 100%;
            padding-bottom: 60px;
        }
        .exclusive {
            background-image: none;
        }
        #bigbanner .banner-image img {
            height: 450px;
        }
        #video-container .container {
            padding: 40px 10px;
            transform: translateY(0px);
        }
        #video-container .video-source img {
            padding: 10px;
        }
        #versatility-container .container {
            flex-direction: column-reverse;
            padding: 50px 20px;
            transform: translateX(0px);
        }
        #versatility-container .container .img-content img {
            height: 220px;
        }
        #versatility-container .container .text-content {
            background-color: #1D1007;
            transform: translate(0px, 0px);
            padding: 20px;
        }
        /* Features CSS Section */
        #featuressupport h1 {
            font-size: 44px;
        }
        #featuressupport p {
            padding: 30px 5px;
        }
        #featurevideo .video-source img {
            height: 320px;
            width: 100%;
            transform: translateY(0px);
        }
        #exelusivity {
            padding: 0;
        }
        #exelusivity .execontent img {
            width: 100%;
            height: 250px;
        }
        #featureinfo .container {
            padding-bottom: 0;
            flex-direction: column;
        }
        #featureinfo .featureinfo-content p {
            width: 100%;
        }
        #featureinfo .featureinfo-content img {
            width: 100%;
        }
        .featureinfo-image {
            display: none;
        }
        #verscelb-container .container .cardsz p {
            width: 100%;
        }
        #featurevideo {
            height: 100%;
        }
        #shows-introduction-feature,
        #specification .spec-table {
            display: none;
        }
        #mobile-shows-introduction-feature,
        #specification .mobile-table {
            display: block;
        }
        .nav_content li {
            font-size: 30px;
        }
        .nav_content {
            width: 350px;
            position: fixed;
        }
        .specfication-banner .ft-logo-left {
            display: none;
        }
        .mobile-table th {
            /* background-color:; */
            padding: 10px 50px;
            border: none;
            border-bottom: 1px solid #f0bd6e;
        }
        .mobile-table .cat {
            color: #f0bd6e;
        }
        .mobile-table td {
            border-bottom: none;
            color: #C4A48F;
        }
        .mobile-table .column {
            padding: 15px 0;
        }
        .mobile-table .column h3 {
            padding: 10px;
            padding-bottom: 0;
            color: #fff;
            font-weight: 300;
            font-size: 22px;
        }
        .specfication-banner {
            background-image: none;
            background-color: #110801;
        }
        #verscelb-container .container img {
            width: 330px;
        }
    }
