@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Fonts  */


/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    background-color: #1D1007;
    line-height: 1.8;
}


/* Home Section */

.container-fluid {
    position: relative;
    z-index: 0;
    padding: 0 !important;
}

.video-box video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}

.logo {
    position: absolute;
    z-index: 3;
    left: 60px;
}

.logo img {
    width: 90px;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
}

.video-content h4 {
    font-size: 22px;
    word-spacing: 0.3em;
    color: #f0bd6e;
    letter-spacing: 4px;
}

.video-content h1 {
    font-size: 84px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.ft-logo-right {
    position: absolute;
    top: 40%;
    z-index: 7;
    right: 3%;
}

.ft-logo-right img,
.ft-logo-left img {
    height: 250px;
}

.ft-logo-left {
    position: absolute;
    top: 15%;
    z-index: 7;
    left: 3%;
}


/* Specfication Section */

.specfication-banner {
    position: relative;
    margin-top: -5px;
    height: 70vh;
    width: 100%;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

.specfication-banner .title h1 {
    text-align: center;
    font-size: 54px;
    color: #f0bd6e;
    padding-top: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

td,
th {
    border: none;
    padding: 1rem;
}

th {
    background-color: #110801;
    padding: 10px 50px;
    border: none;
    color: #f0bd6e;
}

td {
    padding: 10px 50px;
    white-space: nowrap;
    color: #c4a48f;
    border-bottom: solid #F0BD79 1px;
}

td:first-of-type,
th:first-of-type {
    border-left: none;
}

td:last-of-type,
th:last-of-type {
    border-right: none;
}

.pre-req {
    position: relative;
    width: 100%;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

.card_grid {
    position: relative;
    padding: 0 20px;
    column-count: 3;
    column-width: 200px;
    column-gap: 10px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.cards {
    margin: auto 5px;
    width: 100%;
    margin-top: 50px 0;
}

.cards h1 {
    color: #f0bd6e;
    font-size: 20px;
}

.cards p {
    color: #cabba6;
    font-size: 16px;
}

.cards img {
    width: 450px;
}

.cards h2 {
    color: #f0bd6e;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    top: 45%;
    text-align: center;
    font-size: 46px;
    left: 50%;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
}

.cards:nth-child(2) {
    margin-top: 180px;
}

.cards:nth-child(5) {
    margin-top: 130px;
}

#brandsupport {
    width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
    background-image: url("../assets/images/brandbg.png");
}

#brandsupport img {
    width: 400px;
}

#brandsupport p {
    color: #EBD0BF;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.footer-main {
    background-color: #110801;
    position: relative;
}

.footer-main .ft-logo-right {
    position: absolute;
    top: 10%;
}

.footer-title h1 {
    color: #f0bd6e;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    padding: 30px 0;
}

.footer-main input::placeholder {
    color: #EFBD6D;
}

.footer-content input {
    width: 400px;
    outline: none;
    padding: 12px 40px;
    color: #EFBD6D;
    border-radius: 2px;
    transition: 0.5s ease-in-out;
    border: none;
    background-color: #311A0B;
}

.footer-main-content {
    display: grid;
    place-content: center;
}

.footer-content {
    position: relative;
}

.footer-content i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #F0BD79;
}

.fa {
    color: #F0BD79;
    font-size: 20px !important;
}

.footer-content .fa {
    color: #110801 !important;
}

.footer-content button {
    position: absolute;
    border: none;
    height: 47px;
    width: 90px;
    border-radius: 1px;
    background-color: #F0BD79;
}

.footer-main-content ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-main-content ul li {
    padding: 33px;
}

.footer-main-content span {
    padding-top: 30px;
    color: #f0bd6e;
}

.footer-main-content ul li a {
    color: #f0bd6e;
    text-decoration: none;
    font-weight: 300;
}


/* Features Page Started Here */

#featuressupport {
    background-image: url("../assets/images/featuresbg.png");
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

#featuressupport p {
    color: #C4A48F;
    font-size: 17px;
    margin-left: 0;
    text-align: center;
    font-weight: 300;
    padding: 30px 150px;
    margin-top: -150px;
}

#featuressupport h1 {
    font-size: 74px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

#featuressupport span {
    color: #f0bd6e;
}

#featurevideo {
    height: 100%;
    display: grid;
    place-items: center;
    height: 70vh;
}

#featurevideo .video-source img {
    height: 420px;
    transform: translateY(-60px);
}

#exelusivity {
    padding: 70px 0;
}

#exelusivity .exeimage img {
    height: 420px;
}

#exelusivity .execontent img {
    width: 700px;
    height: 400px;
}

#exelusivity .execontent p {
    color: #C4A48F;
    font-size: 17px;
    padding: 20px 0;
    margin-left: 0;
    font-weight: 300;
}

#featureinfo .container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

#featureinfo .featureinfo-content img {
    width: 750px;
}

#featureinfo .featureinfo-content p {
    color: #C4A48F;
    font-size: 17px;
    margin-left: 0;
    font-weight: 300;
    width: 480px;
}

#featureinfo .featureinfo-image img {
    transform: translateX(-200px);
    height: 250px;
}

#verscelb-container {
    padding: 100px 0;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#verscelb-container .container .cardsz h1 {
    font-size: 44px;
    text-transform: uppercase;
    color: #F0BD79;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#verscelb-container .container .cardsz p {
    color: #C4A48F;
    font-size: 17px;
    margin-left: 0;
    font-weight: 300;
    width: 800px;
}


/* NITES PAGE CSS STARTS HERE */

#nite-home .video-content h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

#nite-home .video-content span {
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    color: #f0bd6e;
}

#nite-home .video-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
}


/* Main Home Page CSS */

#home-chapmign-about .content-img {
    margin-top: 50px;
}

#home-chapmign-about .content-box img {
    height: 450px;
    width: 450px;
}

#home-chapmign-about {
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#home-chapmign-about .content-box {
    height: 400px;
    width: 1000px;
    background-color: #311A0B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-chapmign-about .content-box p,
#video-container .video-title p,
#versatility-container .container .text-content p {
    color: #C4A48F;
    font-size: 17px;
    padding: 10px;
    margin-left: 0;
    font-weight: 300;
}

#video-container .container {
    padding: 40px 20px;
    transform: translateY(-50px);
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#video-container .video-title h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#video-container .video-source img {
    height: 400px;
    width: 100%;
    padding: 10px 100px;
    margin-bottom: 20px;
}

#versatility-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    border: 3px solid #F0BD79;
    transform: translateX(70px);
    margin-bottom: 80px;
}

#versatility-container .container .text-content {
    background-color: #1D1007;
    transform: translate(-100px, -50px);
    padding: 20px 60px;
}

#versatility-container .container .text-content h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#versatility-container .container .img-content img {
    height: 400px;
}


/* NITES ABOUT PAGE CSS STARTS HERE */

#chapmign-about {
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#home-chapmign-about .container-fluid,
#chapmign-about .container-fluid {
    min-height: 100vh;
}

.content-box {
    height: 400px;
    width: 1000px;
    background-color: #311A0B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-box img {
    height: 450px;
    width: 320px;
}

.content-box p {
    color: #C4A48F;
    font-size: 17px;
    padding: 20px;
    margin-left: 40px;
    font-weight: 300;
}

#chapmign-about .ft-logo-left,
#chapmign-about {
    top: 30%;
}

#chapmign-about .ft-logo-left img,
#chapmign-about .potential img {
    height: 250px;
}

.potential h1,
.exclusive h1 {
    color: #f0bd6e;
    font-size: 54px;
    font-family: 'Oswald', sans-serif;
}

.potential p,
.exclusive p {
    color: #C4A48F;
    font-size: 17px;
    font-weight: 300;
}

.potential,
.exclusive {
    padding: 10px 0;
}

.exclusive {
    padding: 20px 40px;
    background-size: contain;
    background-image: url("../assets/images/excslive.png");
}

#bigbanner {
    background-image: url("../assets/images/bigbanner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-image img {
    width: 1300px;
    height: 700px;
}

#philosophy {
    background-color: #1D1007;
    min-height: 70vh;
}

#philosophy .main-title h1 {
    color: #f0bd6e;
    font-size: 64px;
    font-family: 'Oswald', sans-serif;
    transform: rotate(-90deg);
    position: relative;
}

#philosophy .main-title h1::after {
    position: absolute;
    height: 400px;
    width: 1px;
    background-color: #EFBD6D;
    content: "";
    left: 150px;
    top: -50px;
    transform: rotate(90deg);
}

#philosophy .main-content {
    margin-left: -100px;
}

#philosophy .main-content li {
    color: #EFBD6D;
    font-size: 22px;
}

#philosophy .main-content p {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}


/* INTRO PAGE CSS STARTS HERE */

#introducation {
    position: relative;
    min-height: 90vh;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

.intro-content {
    padding-top: 50px;
}

.intro-title h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.intro-title h3 {
    color: #ffffff;
}

.intro-content p {
    padding: 10px 100px;
    color: #C4A48F;
    font-size: 16px;
}

#introducation .ft-logo-left {
    top: 20%;
}

#introducation .ft-logo-left img,
#introducation .ft-logo-right img {
    height: 250px;
}

.intro-feature .cards {
    padding: 20px 40px;
}

.intro-feature .cards img {
    height: 450px;
    background-size: contain;
    width: 350px;
}

.intro-feature .cards-title h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.intro-feature .cards-content ul li {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}

.intro-feature .cards a {
    color: #ffffff;
    text-decoration: underline;
}

#intro-achiv {
    padding: 40px 0;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#intro-achiv .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro-achiv .feature-counts ul,
.main-feature-counts ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#intro-achiv .feature-counts ul li,
#intro-achiv .main-feature-counts ul li {
    margin: 0 20px;
    list-style: none;
    text-align: center;
}

#intro-achiv .feature-counts ul li h1,
#intro-achiv .main-feature-counts ul li h1,
#intro-achiv .feature-title h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#intro-achiv .feature-counts ul li p,
#intro-achiv .main-feature-counts ul li p {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
}

#intro-achiv .feature-title p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}


/* SHOWS PAGE CSS STARTS HERE */

#shows-introducation {
    position: relative;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#shows-introducation .ft-logo-left {
    top: 20%;
}

#shows-introducation .ft-logo-left img,
#shows-introducation .ft-logo-right img {
    height: 250px;
}

#shows-introducation .intro-content p {
    padding: 20px 180px;
}

#shows-introduction-feature .cards-title h1 {
    padding: 20px 0;
}

#shows-introduction-feature .cards-content p {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
}


/* Michel Adam Page Started */

#michelintro .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 50px;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#michelintro .intro-container .michtel-intro-card img {
    width: 500px;
}

#michelintro .intro-container .michel-intro-content h1,
#michel-background .bg-content h1,
#michel-journey .journey-content h1,
#michel-future .future-bg-content h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#michelintro .intro-container .michel-intro-content p,
#michel-background .bg-content,
#michel-future .future-bg-content p {
    color: #C4A48F;
    font-size: 17px;
    font-weight: 300;
    padding: 20px 0;
}

#michel-background .bg-content,
#michel-future .future-bg-content {
    padding: 50px;
}

#michel-journey {
    padding: 40px 0;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}


/* Michel Future | Jourey CSS */

#michel-future {
    display: grid;
    place-items: center;
}

.michel-cards {
    width: 400px;
    height: 350px;
    display: grid;
    place-items: center;
    background-color: #110802;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.michel-cards h1 {
    color: #F2E4DB;
    font-size: 18px;
    font-style: italic;
}

.michel-cards p {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px;
    font-style: italic;
}

.michel-cards .micelimg {
    height: 60px;
    margin-top: -10px;
}


/* Michel Timeline | Jourey CSS */

.timeline {
    display: block;
    max-width: 800px;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.timeline::after {
    clear: both;
    content: '';
    display: table;
}

.timeline::before {
    content: '';
    position: absolute;
    border-right: 2px solid #EFBD6D;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.timerow {
    height: 4em;
    margin: 100px 0;
    position: relative;
}

.timecontent {
    width: calc(50% - 30px);
    min-height: 100%;
    text-align: justify;
    background-color: #110802;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #C4A48F;
    font-size: 14px;
}

.timerow.right .timecontent {
    float: right;
}

.timerow.left .timecontent {
    float: left;
}

.timearrow {
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 10px transparent solid;
    border-bottom: 10px transparent solid;
}

.left .timearrow {
    border-left: 20px solid #110802;
    left: calc(50% - 35px);
}

.right .timearrow {
    border-right: 20px solid #110802;
    right: calc(50% - 35px);
}

[data-time]::before {
    content: "";
    position: absolute;
    top: calc(20px + 0.1em);
    left: 50%;
    background-color: #FFFFFF;
    border: 2px #EFBD6D solid;
    height: 20px;
    width: 20px;
    transform: translateX(-50%);
    border-radius: 50px;
}


/* Kashiff Page Started */

#kashiffintro .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 50px;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#kashiffintro .intro-container .michtel-intro-card img {
    width: 500px;
}

#kashiffintro .intro-container .kashiff-intro-content h1,
#kashiff-background .bg-content h1,
#kashiff-journey .journey-content h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#kashiffintro .intro-container .kashiff-intro-content p,
#kashiff-background .bg-content {
    color: #C4A48F;
    font-size: 17px;
    font-weight: 300;
    padding: 20px 0;
}

#kashiff-background .bg-content {
    padding: 50px;
}

.kashiff-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    padding-bottom: 50px;
}

.kashiff-features h3 {
    font-size: 18px;
    color: #FFFFFF;
}

.kashiff-features p {
    color: #C4A48F;
    font-size: 17px;
    font-weight: 300;
}

#kashiff-journey {
    padding: 40px 0;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}