@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Fonts  */


/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    background-color: #1D1007;
}


/* Home Section */

.container-fluid {
    position: relative;
    z-index: 0;
    padding: 0 !important;
}

.video-box video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}

.logo {
    position: absolute;
    z-index: 3;
    left: 60px;
}

.logo img {
    width: 90px;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
}

.video-content h4 {
    font-size: 22px;
    word-spacing: 0.3em;
    color: #f0bd6e;
    letter-spacing: 4px;
}

.video-content h1 {
    font-size: 84px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

.ft-logo-right {
    position: absolute;
    top: 40%;
    z-index: 7;
    right: 3%;
}

.ft-logo-left {
    position: absolute;
    top: 15%;
    z-index: 7;
    left: 3%;
}


/* Specfication Section */

.specfication-banner {
    position: relative;
    margin-top: -5px;
    height: 70vh;
    width: 100%;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

.specfication-banner .title h1 {
    text-align: center;
    font-size: 54px;
    color: #f0bd6e;
    padding-top: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

td,
th {
    border: none;
    padding: 1rem;
}

th {
    background-color: #110801;
    padding: 10px 50px;
    border: none;
    color: #f0bd6e;
}

td {
    padding: 10px 50px;
    white-space: nowrap;
    color: #c4a48f;
    border-bottom: solid #F0BD79 1px;
}

td:first-of-type,
th:first-of-type {
    border-left: none;
}

td:last-of-type,
th:last-of-type {
    border-right: none;
}

.pre-req {
    position: relative;
    height: 60vh;
    width: 100%;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

.card_grid {
    position: relative;
    padding: 0 20px;
    column-count: 3;
    column-width: 200px;
    column-gap: 10px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.card {
    margin: auto 5px;
    width: 100%;
    margin-top: 50px 0;
}

.card h1 {
    color: #f0bd6e;
    font-size: 20px;
}

.card p {
    color: #cabba6;
    font-size: 16px;
}

.card img {
    width: 400px;
}

.card h2 {
    color: #f0bd6e;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    top: 50%;
    text-align: center;
    font-size: 46px;
    left: 50%;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
}

.card:nth-child(2) {
    margin-top: 180px;
}

.card:nth-child(5) {
    margin-top: 130px;
}

.footer-main {
    min-height: 60vh;
    background-color: #110801;
    position: relative;
}

.footer-main .ft-logo-right {
    position: absolute;
    top: 10%;
}

.footer-title h1 {
    color: #f0bd6e;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    padding: 30px 0;
}

.footer-main input::placeholder {
    color: #EFBD6D;
}

.footer-content input {
    width: 400px;
    outline: none;
    padding: 12px 40px;
    color: #EFBD6D;
    border-radius: 2px;
    transition: 0.5s ease-in-out;
    border: none;
    background-color: #311A0B;
}

.footer-main-content {
    display: grid;
    place-content: center;
}

.footer-content {
    position: relative;
}

.footer-content i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #F0BD79;
}

.fa {
    color: #110801;
}

.footer-content button {
    position: absolute;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 1px;
    background-color: #F0BD79;
}

.footer-main-content ul {
    display: flex;
    list-style: none;
}

.footer-main-content ul li {
    padding: 33px;
}

.footer-main-content span {
    padding-top: 30px;
    color: #f0bd6e;
}

.footer-main-content ul li a {
    color: #f0bd6e;
    text-decoration: none;
    font-weight: 300;
}


/* NITES PAGE CSS STARTS HERE */

#nite-home .video-content h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

#nite-home .video-content span {
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    color: #f0bd6e;
}

#nite-home .video-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
}


/* NITES ABOUT PAGE CSS STARTS HERE */

#chapmign-about {
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#chapmign-about .container-fluid {
    min-height: 100vh;
}

.content-box {
    height: 400px;
    width: 1000px;
    background-color: #311A0B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-box img {
    height: 450px;
    width: 320px;
}

.content-box p {
    color: #C4A48F;
    font-size: 17px;
    padding: 20px;
    margin-left: 40px;
    font-weight: 300;
}

#chapmign-about .ft-logo-left,
#chapmign-about {
    top: 30%;
}

#chapmign-about .ft-logo-left img,
#chapmign-about .potential img {
    height: 250px;
}

.potential h1 {
    color: #f0bd6e;
    font-size: 54px;
    font-family: 'Oswald', sans-serif;
}

.potential p {
    color: #C4A48F;
    font-size: 17px;
    font-weight: 300;
}

.potential {
    padding: 10px 0;
    padding-bottom: 20px;
}

#banner-image img {
    width: 1300px;
    height: 700px;
}

#philosophy {
    background-color: #1D1007;
    min-height: 70vh;
}

#philosophy .main-title h1 {
    color: #f0bd6e;
    font-size: 64px;
    font-family: 'Oswald', sans-serif;
    transform: rotate(-90deg);
    position: relative;
}

#philosophy .main-title h1::after {
    position: absolute;
    height: 400px;
    width: 1px;
    background-color: #EFBD6D;
    content: "";
    left: 150px;
    top: -50px;
    transform: rotate(90deg);
}

#philosophy .main-content {
    margin-left: -100px;
}

#philosophy .main-content li {
    color: #EFBD6D;
    font-size: 22px;
}

#philosophy .main-content p {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}


/* INTRO PAGE CSS STARTS HERE */

#introducation {
    position: relative;
    min-height: 90vh;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

.intro-content {
    padding-top: 50px;
}

.intro-title h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.intro-title h3 {
    color: #ffffff;
}

.intro-content p {
    padding: 10px 100px;
    color: #C4A48F;
    font-size: 16px;
}

#introducation .ft-logo-left {
    top: 20%;
}

#introducation .ft-logo-left img,
#introducation .ft-logo-right img {
    height: 250px;
}

.intro-feature .cards {
    padding: 20px 40px;
}

.intro-feature .cards img {
    height: 450px;
    background-size: contain;
    width: 350px;
}

.intro-feature .cards-title h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.intro-feature .cards-content ul li {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}

.intro-feature .cards a {
    color: #ffffff;
    text-decoration: underline;
}

#intro-achiv {
    padding: 40px 0;
    background-image: url("../assets/images/rustic-stone-texture-background_24972-1641.jpg");
}

#intro-achiv .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro-achiv .feature-counts ul,
.main-feature-counts ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#intro-achiv .feature-counts ul li,
#intro-achiv .main-feature-counts ul li {
    margin: 0 20px;
    list-style: none;
    text-align: center;
}

#intro-achiv .feature-counts ul li h1,
#intro-achiv .main-feature-counts ul li h1,
#intro-achiv .feature-title h1 {
    font-size: 54px;
    color: #f0bd6e;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#intro-achiv .feature-counts ul li p,
#intro-achiv .main-feature-counts ul li p {
    color: #C4A48F;
    font-size: 16px;
    font-weight: 300;
}

#intro-achiv .feature-title p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}